<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% include 'cdnlines.html' %}
  </head>
  <style media="screen">
  body{
    background-image: url("{% static 'images/8.jpg' %}");
  }

  </style>

  <body>
    {% include 'studentnavber.html' %}
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-md-8 text-center">
          <h3 class="text-center">class information!</h3>
          <div class="">
            {% if data %}
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>course</th>
                  <th>fee</th>
                  <th>institute</th>
                  <th>trainer name</th>
                  <th>date</th>
                  <th>trainer mode</th>
                </tr>
              </thead>
              <tbody>
                {% for i in data %}
                <tr>
                  <td>{{ i.course_name }}</td>
                  <td>{{ i.fee }}</td>
                  <td>{{ i.institute }}</td>
                  <td>{{ i.trainer_name }}</td>
                  <td>{{ i.date }}</td>
                  <td>{{ i.trainer_mode }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            <h3 class="text-center">no class availble!</h3>
            {% endif %}

          </div>

        </div>

      </div>

    </div>

  </body>
</html>
